<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<style>
			.boss {
				margin-top: 110px;
				text-align: center;
			}
			.head{
				width:100%; 
				height:300px; 
				background:red; 
				border-radius: 50%;
				position: absolute;
				top: -200px;
			}
			.photo img {
				width: 30%;
			}
			.Record{
				width: 90%;
				height: 100px;
			}
			.Record div{
				float: left;
			}
		</style>
	</head>
	<body>
		<header>
			<div class="head"></div>
			<div class="boss">
				<img src="img/favicon.ico" />
				<div class="name">昵称</div>
				<div><span style="font-size:40px; margin: 20px 0 10px 0;">100</span><span>元</span></div>
				<div style="color: deepskyblue; margin-bottom: 100px;">已存入钱包</div>
			</div>
		</header>
		<section>
			<div style="margin-left: 20px; margin-bottom: 20px;">领取记录</div>
			<div class="Record" style="margin-top: 10px;">
				<div><img src="img/b2.gif" /></div>
				<div>最可爱的人</div>
				<div style="margin-top: 30px; margin-left: -80px; overflow: hidden;">20:32</div>
				<div style="margin-left: 70%;">2.3<span>元</span></div>
			</div>
			<div class="Record" style="margin-top: 10px;">
				<div><img src="img/b2.gif" /></div>
				<div>最可爱的人</div>
				<div style="margin-top: 30px; margin-left: -80px; overflow: hidden;">20:32</div>
				<div style="margin-left: 70%;">2.3<span>元</span></div>
			</div>
			<div class="Record" style="margin-top: 10px;">
				<div><img src="img/b2.gif" /></div>
				<div>最可爱的人</div>
				<div style="margin-top: 30px; margin-left: -80px; overflow: hidden;">20:32</div>
				<div style="margin-left: 70%;">2.3<span>元</span></div>
			</div>
			<div class="Record" style="margin-top: 10px;">
				<div><img src="img/b2.gif" /></div>
				<div>最可爱的人</div>
				<div style="margin-top: 30px; margin-left: -80px; overflow: hidden;">20:32</div>
				<div style="margin-left: 70%;">2.3<span>元</span></div>
			</div>
			<div class="Record" style="margin-top: 10px;">
				<div><img src="img/b2.gif" /></div>
				<div>最可爱的人</div>
				<div style="margin-top: 30px; margin-left: -80px; overflow: hidden;">20:32</div>
				<div style="margin-left: 70%;">2.3<span>元</span></div>
			</div>
		</section>
		
	</body>
</html>
